<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="LoginUrl" value="https://karamem0test04.sharepoint.com/sites/spclient"/>
        <add key="LoginUserName" value="admin@karamem0test04.onmicrosoft.com"/>
        <add key="LoginPassword" value="KUyfiXs2dm69"/>
        <add key="LoginDomain" value="karamem0test04.onmicrosoft.com"/>
    </appSettings>
</configuration>
